/* Challenge CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  overflow: hidden;
}

/* Navbar styles */
.navbar {
  /* Add styles for the navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
}

.logo {
  /* Add styles for the logo */
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  /* Add styles for the logo image */
  border-radius: 50%;
}

.menu a {
  /* Add styles for the navigation links */
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

.menu a:hover {
  /* Add hover styles for navigation links */
  text-decoration: underline;
}

/* Hero section styles */
.hero {
  /* Add styles for the hero section */

  background-image: url("./assets/chaicohort.png");
  background-size: cover;
  background-position: 0rem -22.5rem;
  object-fit: cover;
  width: 100%;
  height: 60vh;

  background-repeat: no-repeat;
  /* height: 60vh; */
}

.hero-content {
  /* Add styles for the hero content container */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: #fff;
  background: #000000bc;
  width: 100%;
}

.hero-content h1 {
  /* Add styles for the hero heading */
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: #00ff9f;
}

.hero-content p {
  /* Add styles for the hero paragraph */
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
}

.hero-content img {
  /* Add styles for the image in the hero section */
  border: 1px solid #00ff9f;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.enroll-button {
  /* Add styles for the enroll button */
  background-color: #00ff9f;
  color: #000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
}

.enroll-button:hover {
  /* Add hover styles for the enroll button */
  transition: all 0.3s ease;
  background-color: #00ff9dc3;
  cursor: pointer;
  transform: matrix3d(1.01, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1, 0, 5, 0, 0, 1);
}

/* Highlights section styles */
.highlights {
  /* Add styles for the highlights section */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  background-color: #333;
}

.highlight-card {
  /* Add styles for each highlight card */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  background-color: #2a2a2a;
  color: #fff;
  width: 300px;
}

.highlight-card h3 {
  /* Add styles for highlight card headings */
  font-size: 1rem;
  text-align: center;
  color: #00ff9f;
}

.highlight-card p {
  /* Add styles for highlight card paragraphs */
  text-align: center;
  font-size: 1rem;
}
