/* Challenge CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Georgia", serif;
  line-height: 1.6;
  color: #333;
}

.header {
  /* Define header styles here */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f4f4f4;
}

.logo {
  /* Define logo styles here */
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #893c02;
}

.logo img {
  /* Define image styles within the logo here */
  border-radius: 50%;
  padding: 0.08rem;
  border: 3px solid #97592c;
}

.nav-menu a {
  /* Define navigation link styles here */
  text-decoration: none;
  color: #893c02;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  border-radius: 5px;
  /* transition: background-color 0.3s; */
}

.nav-menu a:hover {
  /* Define hover styles for navigation links here */
  background-color: #97592c;
  color: #fff;
  transition: all 0.5s ease;
}

.hero {
  /* Define hero section styles here */
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  background-image: url("./assets/chaipatti.png");
  background-size: cover;
  background-position: 0 50%;
  text-align: center;
  background-repeat: no-repeat;
}

.hero-text {
  background-color: #00000080;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-text h1 {
  /* Define styles for h1 in hero-text here */
  font-size: 3rem;
  color: #fff;
  text-shadow: 2px 2px 4px #00000080;
  margin-bottom: 1rem;
}

.hero-text p {
  /* Define styles for paragraph in hero-text here */
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
}

.shop-button {
  /* Define shop button styles here */
  background-color: #8b4513;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 30px;
  font-size: 1.3rem;
  cursor: pointer;
}

.shop-button:hover {
  /* Define hover styles for shop button here */
  background-color: #97592c;
  transition: all 0.5s ease-in-out;
}

.tea-collection {
  /* Define tea collection section styles here */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
  /* text-align: center; */
}

.tea-collection h2 {
  /* Define styles for h2 in tea collection here */
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #893c02;
  font-weight: 700;
}

.tea-cards {
  /* Define tea cards container styles here */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.tea-card {
  /* Define styles for each tea card here */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 1rem;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  box-shadow: 2px -1px 12px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: 0 auto;
}

.tea-card h3 {
  /* Define styles for tea card headings here */
  text-align: center;
  font-size: 1rem;
  color: #893c02;
}

.tea-card p {
  /* Define styles for tea card paragraph text here */
  text-align: center;
  font-size: 1rem;
  color: #333;
}
